<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Root.Shows.Path" value="\\diskstation\\video\\TV Shows" />
    <add key="Root.Movies.Path" value="\\diskstation\\video\\Movies" />

    <!-- Comma seperated iso language codes -->
    <add key="Subtitle.Languages" value="en,us" />

    <!-- including the file extension -->
    <add key="Log.Downloaded.Path" value="C:\\Users\\Patrick\\Documents\\log.txt" />
    <add key="Cache.Path" value="C:\\Users\\Patrick\\Documents\\cache.xml" />
  </appSettings>
</configuration>